@import url(//db.onlinewebfonts.com/c/5d22bd0816f911a4c90e5d8661157ef9?family=Microsoft+Yi+Baiti);
@font-face {
    font-family: 'Noto Sans CJK TC,BOLD';
    src: url(./font/NotoSansCJKtc-Bold.otf);
}
@font-face {
    font-family: 'Noto Sans CJK TC,Regular';
    src: url(./font/NotoSansCJKtc-Regular.otf);
}
html{
    height:100%;
}
body {
    min-height: 100%;
    margin: 0px;
    padding:0px;
}
.background{
    width: 100vw;
    height: 100vh;
    background-image: url("./res/底圖\ \(2\).png");
    background-size: cover;
    position: fixed;
}
#top_block {
  width: 100%;
  height: 20%;
  text-align: center;
  position: relative;
}
.logo {
    width: 150px;
    height: 95px;
    position: absolute;
    left: 10px;
    top: 10px;
}
ul{
    display: inline-block;
}
#menu {
    position: absolute;
    top: 0px;
    right: 190px;
}
li{
    display: inline-block;
    margin: 10px;
}
#bar1 {
    font-family: Microsoft Yi Baiti;
    font-size: 40px;
    color:#ffffff;
    box-shadow: 0 1pt #ffffff;
    padding-bottom: 3px;
    padding-inline: 6px 6px;
}
#menu_block {
    position: absolute;
    top: 25px;
    right: 10px;
}
#store {
    margin-right: 20px;
    width: 110px;
    height: 45px;
}
#car {
    width: 45px;
    height: 45px;
}
#center_block {
    width: 100%;
    height: 30%;
    text-align:right;
}
#center_block h1 {
    font-size: 50px;
    font-family: 'Noto Sans CJK TC,BOLD';
    margin: 0;
    opacity: 0;
    color: white;
    padding-right: 80px;
}
#arrow {
    width: 100%;
    height: 15%;
    position: relative;
}
#arrow .right {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 60px;
}
#arrow .left {
    position: absolute;
    left: 10px;
    width: 30px;
    height: 60px;
}
#block {
    width: 100%;
    height: 30%;
    position: relative;
}
#block #learn {
    width: 230px;
    height: 50px;
    position: absolute;
    right: 80px;
}
#block p {
    font-family: 'Noto Sans CJK TC,Regular';
    font-size: 19px;
    color: white;
    position: absolute;
    right: 80px;
    top: 50px;
    opacity: 0%;
}
#bar1:hover{
    font-weight: bold;
    box-shadow: 0 9pt #ffffff;
}
#block #learn{
    /*animation*/
    animation: btn_move 1s ease 1.5s 1 alternate backwards;
}
#block p {
    animation: text_move 1s ease 1.5s 1 alternate forwards;
}
@keyframes btn_move {
    from {height: 0px;}
    to {opacity: 100%;height: 50px;}
}
@keyframes text_move {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
h1{
    animation: first_move 1s ease 0.5s 1 alternate forwards;
}
@keyframes first_move {
    from {opacity: 0%;top: 0px;}
    to {opacity: 100%; top: 40px;}
}
img:hover{
    opacity: 0.7;
}
