@import url(//db.onlinewebfonts.com/c/5d22bd0816f911a4c90e5d8661157ef9?family=Microsoft+Yi+Baiti);
@font-face {
    font-family: 'Noto Sans CJK TC,BOLD';
    src: url('/font/NotoSansCJKtc-Bold.otf');
}
@font-face {
    font-family: 'Noto Sans CJK TC,Regular';
    src: url('/font/NotoSansCJKtc-Regular.otf');
}
html{
    height:100%;
}
body {
    min-height: 100%;
    margin: 0px;
    padding:0px;
    color: #ffffff;
}

div {
    width: 100vw;
    margin: 0;
    padding: 0;
}
#bar {
    background-image: url("./res/底圖\ \(2\).png");
    background-size: cover;
    height: 100vh;
}
#bar ul{
    margin: 0;
    padding: 20px;
    overflow: hidden;
    list-style-type: none;
}
li {
    float: right;
}
#logo {
    float: left;
}
#logo img {
    width: 150px;
    height: 95px;
}

li a {
    font-family: Microsoft Yi Baiti;
    font-size: 40px;
    color:#ffffff;
    text-decoration: none;
    box-shadow: 0 1pt #ffffff;
    padding-bottom: 3px;
    padding: 10px 10px;
    margin: 10px;
}
#store img{
    margin: 10px;
    width: 110px;
    height: 45px;
}
#car img{
    margin: 10px;
    width: 45px;
    height: 45px;
}
#title {
    position: absolute;
    top: 20%;
    text-align: right;
}
#title h1, #title div, #title p {
    position: relative;
    right: 5%;
}

#title h1 {
    font-size: 50px;
    font-family: 'Noto Sans CJK TC,BOLD';
    padding-bottom: 7%;
    opacity: 0%;
}

#learn {
    width: 230px;
    height: 50px;
}

#title p {
    font-family: 'Noto Sans CJK TC,Regular';
    font-size: 19px;
    opacity: 0%;
}

#arrow {
    position: absolute;
    top: 50%;
}
#arrow img {
    right: 10px;
    width: 30px;
    margin: 10px;
}
#arrow .right{
    float: right;
}

#bar a:hover{
    font-weight: bold;
    box-shadow: 0 9pt #ffffff;
}
#store img:hover{
    opacity: 0.7;
} 
#car img:hover{
    opacity: 0.7;
} 
#learn:hover{
    opacity: 0.7;
} 
#arrow .right:hover,#arrow .left:hover {
    opacity: 0.7;
}

#learn{
    animation: btn_move 1s ease 1.5s 1 alternate backwards;
}
#title p {
    animation: text_move 1s ease 1.5s 1 alternate forwards;
}
@keyframes btn_move {
    from {height: 0px;}
    to {opacity: 100%;height: 50px;}
}
@keyframes text_move {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
h1{
    animation: first_move 1s ease 0.5s 1 alternate forwards;
}
@keyframes first_move {
    from {opacity: 0%;top: -5%;}
    to {opacity: 100%; top: 0%;}
}